* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  
}
 .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    width: 100%;
 }

.logo {
    width: 100px;
}

.cart {
    width: 40px;
}

.menu {
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

li a:hover {
    background-color:#b64036;
}

li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
   
} 
li a {
    color: #e2574c;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
 h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-top: 25px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #969696;
 }

.flower-background {
    background-image: url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
    background-repeat: no-repeat repeat;
    background-position: top;
    height: 500px;
    width: 100%;
    background-size: 20%, 100%;
    padding: 200px;
}

.flower-background h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.flower-background h3 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.explaination {
    padding: 25px;
}

.method {
    font-style: italic;
    color: #969696;
}

p {
    text-align: center;
    color: gray;
    font-size: 20px;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   height: 400px;
   flex-direction: row;
   color: white;
   justify-content: space-between;
   justify-items: center;
}
/*
.flex-container > div {
    justify-content: center;
    justify-items: center;
    background-size: cover;
}
*/
.flex-container > div {
    font-size: 2em;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px #969696;
    justify-content: center;
    align-items: center;
    
}

.men {
    background: url("../images/mens-category.jpg");
    background-size: cover;
    flex: 2 0 50%;
    box-sizing: border-box;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.trends {
    background: url("../images/trends-category.jpg");
    background-size: cover;
    flex: 1 0 25%;
    box-sizing: border-box;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.glasses {
    background: url("../images/glasses-category.jpg");
    background-size: cover;
    flex: 1 0 25%;
    box-sizing: border-box;
    border-bottom: 5px solid white;
}

.sale {
    background: url("../images/sale-category.jpg");
    background-size: cover;
    flex: 1 0 25%;
    box-sizing: border-box;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.bag {
    background: url("../images/bags-category.jpg");
    background-size: cover;
    flex: 1 0 25%;
    box-sizing: border-box;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.woman {
    background: url("../images/womens-category.jpg");
    background-size: cover;
    flex: 2 0 50%;
    box-sizing: border-box;
    border-bottom: 5px solid white;
}

.loved-products {
    padding: 25px 50px;
}

.main-gallery {
    padding-bottom: 25px;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 0px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white;
  }


.clothing {
    color: #969696;
    font-size: 10px;
}

.item {
    color: #e2574c;
    font-size: 20px;
}
.bg-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/wave-bkgd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
    margin-bottom: 5px;
}

#sign-up {
    font-style: italic;
    color: white;
}


.form {
    display: flex;
    line-height: 1.6;
    padding-top: 15px;
}

.email {
    height: 34px;
    width: 325px;
    padding: 8px;
    border-radius: 2em;
    outline: none;
}

.subscription {
    height: 30px;
    color: white;
    background-color: #e2574e;
    border-radius: 2em;
    border-color: transparent;
    position: relative;
    top: 3px;
    margin-left: -70px;
}

.sign-up > * {
    color: white;
    line-height: 1.6;
}

.footer-container1 {
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding-left: 30px;
    padding-right: 50px
}

.contact p {
    text-align: left;
    color: white;
}

p.address {
    color: #969696;
}


.contact a:link {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    background-color: #b64036;
}

.social-media p {
    text-align: left;
    color: white;
    padding-top: 10px;
}

.social-media a:link {
    text-decoration: none;
    color: white;
}

.social-media a:hover {
    color: #b64036;
}
